
microfrontends-module-federation-app/node_modules
microfrontends-module-federation-app/dist
microfrontends-module-federation-app/build
microfrontends-module-federation-app/coverage
microfrontends-module-federation-app/logs
microfrontends-module-federation-app/reports

todo-app/node_modules
todo-app/dist
todo-app/build
todo-app/coverage
todo-app/logs
todo-app/reports

todo-list-app/node_modules
todo-list-app/dist
todo-list-app/build
todo-list-app/coverage
todo-list-app/logs
todo-list-app/reports
